.shertler{
    width: 90%;
    margin: 0 auto;
    margin-top: 120px;
}

.shertler >h2{
    font-size: 20px;
    color: #252525;
    font-weight: 450;
    text-align: left;
}

.shert{
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    border: none;
    min-height: 36px;
    position: relative;
    margin-bottom: 15px;
}
.shert> h3{
    font-size: 14px;
    text-align: left;
    margin-left:20px ;
    height: 35px;
    line-height: 35px;
    font-weight: 400px;
}
.shert>div{
    
    padding-bottom: 20px;
}
.shert > div>p{
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 14px;
    color: #252525;
    font-weight: 400;
}

.shert > img{
    position: absolute;
    top: 15px;
    right: 20px;
}